/* plain css menu and submenu education model
	nav ul {
	background: #fff; padding: 0 20px; list-style: none; position: relative; display: inline-table;
	}
	
	nav ul:after {
	content: """"; clear: both; display: block;
	}
	
	nav ul li {
	float: left;
	}
	
	nav ul li:hover {
	background: #fff;
	}
	
	nav ul li:hover > ul {
	display: block;
	}
	
	nav ul li:hover a {
	color: #88c425;
	}
	
	nav ul li a {
	display: block; padding: 25px 40px; color: #777; text-decoration: none;
	}
	
	nav ul ul {
	display: none; background: #fff; padding: 0; position: absolute: top: 100%;
	}
	
	nav ul ul li {
	float: none; border-bottom: 1px solid #88c425; position: relative;
	}
	
	nav ul ul li a {
	padding: 15px 40px; color: #777;
	}
	
	nav ul ul li a:hover {
	background: #fff;
	}
	
	nav ul ul ul {
	position: absolute; left: 100%; top: 0;
} */
